*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#000;
    color:#fff;
    text-align:center;
    padding:40px;
    background-color: rgb(131, 128, 128);
}

nav{
    background:#222;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:70px;
    font-weight:bold;
}

section {
    padding:40px;
   
}

h2:hover{
    color:#000;
    margin-bottom:15px;
     background-color: rgb(78, 8, 8);
}

.card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

footer{
    background:#000;
    color:white;
    text-align:center;
    padding:20px;
}